# Dotenv
.env
!.env.template

# Composer
/vendor

# WordPress
/web/wp

# Uploads & Upgrade
/web/app/upgrade
/web/app/uploads/*
!/web/app/uploads/.gitkeep

# Plugins
/web/app/plugins/*
!/web/app/plugins/.gitkeep
/web/app/mu-plugins/*/
!/web/app/mu-plugins/.gitkeep

# Plugins not available on Packagist/WPackagist
# !/web/app/plugins/advanced-custom-fields-pro

# Generated static site
/web/app/static/

# Other
.DS_Store
yarn-error.log
/log
/VERSION
