{% if not option('hidden', 'cookie bar') %}
    <aside class="cookie-bar js-cookie-bar" data-enhancer="cookieBar" role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookie-bar-description" aria-hidden="true">
        <!--googleoff: all-->
        <p id="cookie-bar-description">
            <span>{{ option('description', 'cookie bar') }}</span>
            <a href="{{ option('link', 'cookie bar') }}">
                {{ option('link label', 'cookie bar') }}
            </a>
        </p>
        <button class="button button--white"
            data-handler="cookieBarAccept"
            aria-label="Accept the use of cookies on this website">
            {{ option('button label', 'cookie bar') }}
        </button>
        <!--googleon: all-->
    </aside>
{% endif %}
