{% if content %}
<div class="flexible-content">
    {% for block in content if block.acf_fc_layout %}
        {% set partial = 'flexible-content/' ~ block.acf_fc_layout|replace({ '_': '-' }) ~ '.twig' %}
        {% include partial with { block: block } only %}
    {% endfor %}
</div>
{% endif %}
