{% if content %}
<div class="flexible-content">
    {% for flex in content if flex.acf_fc_layout and flex.acf_fc_layout != '———' %}
        {% set name = flex.acf_fc_layout|replace({ '_': '-' }) %}
        {% set partial = 'flexibles/' ~ name ~ '-flex.twig' %}
        {% include partial ignore missing with { flex: flex } %}
    {% endfor %}
</div>
{% endif %}
