<header class="page-header">
    <div class="page-header__inner">
        <h1>{{ title }}</h1>
        {% if description %}
            <p>{{ description }}</p>
        {% endif %}
    </div>
</header>
