<header class="site-header" role="banner">
    <div class="site-header__inner">
        <a class="site-header__logo" href="{{ site.url }}" rel="home" aria-label="{{ __('Go to homepage', 'grrr') }}">
            {{ source('images/site-logo.svg')|raw }}
        </a>
        <nav class="site-header__nav" role="navigation">
            {% include 'partials/menu.twig' with { 'menu': menu } only %}
        </nav>
    </div>
</header>
