@mixin button-color($color) {
    @if ($color == primary) {
        background: $primary-color; color: $white;
    }
    @if ($color == white) {
        background: $white; color: $primary-color;
    }
}
@mixin button($color: undefined) {
    @include bare-button; @include button-color($color);
    display: inline-block; padding: 12px 15px;
    border-radius: $border-radius;
    @include ui-font;
    &:hover,
    &:focus {
        opacity: 0.9;
    }
    &:active {
        transform: scale(0.95);
    }
}

.button {
    @include button;
}
.button--primary {
    @include button-color(primary);
}
.button--white {
    @include button-color(white);
}
