.site-header {
    z-index: z(site-header); position: relative;
}
.site-header__inner {
    padding: 20px;
}

/**
 * Logo
 */
.site-header__logo {
    display: inline-block;
}
.site-header__logo > svg {
    width: 100px; height: 36px; fill: $primary-color;
}
