.site-footer {
    background: $primary-color; color: $white;
}
.site-footer__inner {
    @include row; @include block;
}

/**
 * Logo
 */
.site-footer__logo {
    display: inline-block;
}
.site-footer__logo > svg {
    width: 100px; height: 36px; fill: $white;
}
