@mixin block($size: large) {
    margin-left: auto; margin-right: auto;
    padding-left: 25px; padding-right: 25px;
    @include bp-min($tiny) {
        @if ($size != full) {
            max-width: calc(#{map-get($site-widths, $size)} + 6vw + 4rem);
        }
        padding-left: calc(3vw + 2rem);
        padding-right: calc(3vw + 2rem);
    }
    .no-csscalc &,
    .no-cssvwunit & {
        max-width: map-get($site-widths, $size);
    }
}
