/* ==========================================================================
   mixins
   ========================================================================== */

/**
 * Styled scrollbar
 */
@mixin styled-scrollbar($color: $blackish) {
    // Standardized (currently only Firefox, plus on macOS only when system
    // preferences are set to always show scrollbars).
    // sass-lint:disable no-misspelled-properties
    scrollbar-color: $color transparent;
    scrollbar-width: thin;
    // sass-lint:enable no-misspelled-properties
    // WebKit only (Chrome, Safari, Edge).
    &::-webkit-scrollbar-track {
        margin: 3px 0;
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color;
        border: 3px solid transparent;
        border-top: 0; border-bottom: 0;
        background-clip: padding-box;
    }
}

/**
 * Easier way to provide `object-fit-images` polyfill hook
 */
@mixin object-fit($value: cover) {
    object-fit: $value; font-family: 'object-fit: #{$value}';
}

/**
 * Smooth scrolling
 */
@mixin smooth-scrolling {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/**
 * Placeholder styling
 */
@mixin placeholder {
    &:placeholder {
        @content;
    }
    &::placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

/**
 * Font smoothing
 */
@mixin font-smoothing($enabled: true) {
    @if $enabled {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: initial;
        -moz-osx-font-smoothing: initial;
    }
}

/**
 * Media query dark mode
 *
 * Usage:
 * body {
 *    @include dark-mode { background: $blackish; }
 * }
 */
@mixin dark-mode {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}

/**
 * Clearfix
 * Actually an @extend, but we don't want to depend on inclusion order
 *
 * Usage:
 * section { @include clearfix(); }
 */
@mixin clearfix {
    &::after {
        display: table; clear: both; content: '';
    }
}

/**
 * Bare button
 *
 * Get rid of default button styling
 */
@mixin bare-button {
    background: transparent; border: 0;
    line-height: 1.1; text-decoration: none; text-align: center;
    cursor: pointer; appearance: none;
}

/*
 * Bare list
 *
 * Get rid of list-style and padding
 */
@mixin bare-list {
    margin: 0; padding: 0; list-style-type: none;
    li {
        margin: 0;
    }
}

/**
 * For image replacement
 */
@mixin hide-text {
    font-family: a;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    border: 0 none;
}

/**
 * Media query breakpoints mixins
 *
 * Usage:
 * div { width: 60px;
 *    @include breakpoint-min($small) { width: 80px; }
 * }
 */
@mixin bp-min($point: 0) {
    @media (min-width: px-to-em($point)) {
        @content;
    }
}

@mixin bp-max($point: 0) {
    @media (max-width: (px-to-em($point) - 0.0625em)) {
        @content;
    }
}

@mixin bp-min-max($min-point: 0, $max-point: 0) {
    @media (min-width: px-to-em($min-point)) and (max-width: (px-to-em($max-point) - 0.0625em)) {
        @content;
    }
}

/**
 * For targetting high dpi screens
 * Usage:
 * div {
 *    width: 30px; height: 30px; background: url('img.jpg');
 *    @include high-dpi() {
 *        background: url('image-2x.jpg');
 *    }
 * }
 */
// sass-lint:disable indentation space-around-operator
@mixin high-dpi {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
           only screen and (-o-min-device-pixel-ratio: 13/10),
           only screen and (min-device-pixel-ratio: 1.3),
           only screen and (min-resolution: 120dpi),
           only screen and (min-resolution: 1.3dppx) {
        @content;
    }
}
