<section class="{{ post_type }}-archive">
    {% include 'partials/page-header.twig' with {
        title: title,
    } only %}

    <ul>
        {% for post in posts %}
        <li>
            {% include [
                'previews/' ~ post.post_type ~ '-preview.twig',
                'preview.twig',
            ] %}
        </li>
        {% endfor %}
    </ul>

    {% include 'partials/pagination.twig' with {
        pagination: posts.pagination({
            show_all: false,
            mid_size: 3,
            end_size: 2,
        }),
    } only %}
</section>
