<article class="front-page">

    <header>
        <h1>{{ site.name }}</h1>
        {{ svg('arrow')|raw }}
    </header>

    <section>
        {% for example in examples %}
            {% include 'previews/example-preview.twig' with {
                post: example,
            } only %}
        {% endfor %}
    </section>

    <section>
        <h2>Cookie consent examples</h2>
        <a href="#" data-handler="cookieConsentShow">Update cookie preferences</a>
        <div data-cookie-consent-accepted="marketing" hidden>Marketing cookies: <strong>accepted!</strong></div>
        <div data-cookie-consent-rejected="marketing" hidden>Marketing cookies: <strong>rejected!</strong></div>
    </section>

    {% include 'partials/flexible-content.twig' with {
        content: post.meta('flexible_content'),
    } %}

</article>
