<section class="home">

    {% include 'partials/page-header.twig' with {
        title: title,
    } only %}

    {% for post in posts %}
        {% include [
            'previews/' ~ post.post_type ~ '-preview.twig',
            'preview.twig',
        ] %}
    {% endfor %}

    {% include 'partials/pagination.twig' with {
        pagination: posts.pagination({
            show_all: false,
            mid_size: 2,
            end_size: 1,
        }),
    } only %}

</section>
